.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  z-index: 1000;
  box-sizing: border-box;
}

.nav-brand {
  margin: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-user {
  display: flex;
  align-items: center;
}